* {
	box-sizing: border-box;
}

body {
	background: black;
}

.canvas {
	width: 900px;
	height: 556px;
	margin: 100px auto;
	background: white;
	position: relative;
}

.canvas.red {
	background: #F04722;
}

.object {
	position: absolute;
}

.sphere {
	background: white;
	width: 300px;
	height: 300px;
	border-radius: 50%;
	bottom: 100px;
	right: 250px;
}

.pumpkin {
	background: orange;
	width: 150px;
	height: 130px;
	border-radius: 50%;
	bottom: 50px;
	right: 220px;
}

.vase-container {
	/*background: indigo;*/
	width: 100px;
	height: 400px;
	bottom: 80px;
	left: 170px;
}

.vase {
	background: white;
	width: 100px;
	height: 250px;
	opacity: 0.5;
	bottom: 0;
}

.vase-bottom {
	background: white;
	width: 100px;
	height: 25px;
	border-radius: 50%;
	bottom: -12px;
}

.vase-top {
	background: white;
	width: 100px;
	height: 25px;
	border-radius: 50%;
	top: -12px;
}

.flower.one {
	left: 20px;
}

.flower.two {
	left: 40px;
}

.flower.three {
	left: 60px;
}

.stem {
	background: green;
	width: 10px;
	height: 400px;
}

.petal {
	background: indigo;
	width: 50px;
	height: 20px;
	border-radius: 50%;
	top: -10px;
}

.canvas.aqua {
	background: #A1FFE3;
}

.canvas.aqua.pumpkin {
	background: orange;
	width: 150px;
	height: 130px;
	border-radius: 50%;
	bottom: 150px;
	right: 530px;
    -ms-transform: rotate(-27deg); /* IE 9 */
    -webkit-transform: rotate(-27deg); /* Chrome, Safari, Opera */
    transform: rotate(-27deg);
}

.canvas.aqua.sphere {
	background: white;
	width: 300px;
	height: 300px;
	border-radius: 50%;
	bottom: 130px;
	right: 250px;
}

.water-glass-container {
	/*background: indigo;*/
	width: 100px;
	height: 400px;
	bottom: 80px;
	left: 170px;
}

.water-glass {
	background: #C3C1C1;
    width: 100px;
    height: 200px;
    opacity: 0.5;
    left: 550px;
    top: 130px;
    z-index: 1;
}

.water-glass-bottom {
	background: #C3C1C1;
	width: 100px;
	height: 25px;
	border-radius: 50%;
	bottom: -12px;
}

.water-glass-top {
	background: #C3C1C1;
	width: 100px;
	height: 25px;
	border-radius: 50%;
	top: -12px;
}

.magnifying-glass
{
 font-size: 10em;
    display: inline-block;
    width: 0.4em;
    height: 0.4em;
    border: 0.1em solid black;
    position: relative;
    border-radius: 0.35em;
    left: 500px;
    top: 350px;
    -ms-transform: rotate(-27deg); /* IE 9 */
    -webkit-transform: rotate(-27deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}

.magnifying-glass::before
{
 content: "";
    display: inline-block;
    position: absolute;
    right: -0.25em;
    bottom: -0.15em;
    border-width: 0;
    background: black;
    width: 0.35em;
    height: 0.08em;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

.banana.one  {
  width: 150px;
    height: 70px;
    border-radius: 50%;
    box-shadow: 15px 15px 0 0 yellow;
    left: 250px;
    top: 300px;
}

.banana.two {
	width: 150px;
    height: 70px;
    border-radius: 50%;
    box-shadow: 15px 15px 0 0 yellow;
    left: 250px;
    top: 280px;
}

.banana.three {
	width: 150px;
    height: 70px;
    border-radius: 50%;
    box-shadow: 15px 15px 0 0 yellow;
    left: 250px;
    top: 320px;
}



















