.letter {
	height: 125px;
	display: inline-block;
}

.A {
	width: 105px;
	position: relative;
}

.A .top {
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 75px solid cyan;
	opacity: 0.5;
	top: 0;
	position: absolute;
}

.A .bottom {
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 66px solid #FD8FFA;
	opacity: 0.5;
	bottom:-100px;
	position:absolute;
}

.A .middle {
	border-bottom: 15px solid cyan;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    height: 0;
    width: 39px;
    position: absolute;
    bottom: -75px;
    left: 20px;
    opacity: 0.5;
	
}