body {
	font-family: 'Droid Serif', serif;
	font-size: 21px;
	background:url('08.jpg');
}

img{
	max-width: 100%;
}

.container{
	width:600px;
	margin: 0 auto;
	padding:14px;
	border: 50px inset blue;
	margin: 100px auto;
}

a{
	text-decoration: none;
	background-position: 
}

