/* Base */

html, body {
	height: 100%;
}

body {
	background: url('../images/01.jpg');
}

h1 {
	font-size: 110px;
  text-align: center;
}

div {
	background: yellow;
	height: 100px;
	width: 100px;
	display: inline-block;
	margin: 8px;
}


/* Media Queries */

@media screen and (max-width: 1024px) {

  body { background: url('../images/02.jpg'); }
  h1 { font-size: 70px; }

}

@media screen and (max-width: 768px) {

  body { background: url('../images/03.jpg'); }
  h1 { font-size: 50px; }

}

@media screen and (max-width: 600px) {

  body { background: url('../images/04.jpg'); }
  h1 { font-size: 20px; }

}

@media screen and (max-width: 480px) {
  
  body { background: url('../images/05.jpg'); }
  h1 { font-size: 10px; }
  div { display: block; }

}

@media screen and (max-width: 320px) {

  body { background: url('../images/06.jpg');}
  h1 { font-size: 8px; }

}